#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--background-light);
  color: var(--text-light);
  z-index: 9999;
  transition: opacity 0.8s, background 0.3s, color 0.3s;
}

.dark-mode #loader {
  background: var(--background-dark);
  color: var(--text-dark);
}

#loader span {
  font-size: 4rem;
  margin-bottom: 25px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  animation: pulse 2s infinite alternate;
}

.loader-circle {
  width: 90px;
  height: 90px;
  border: 8px solid var(--card-dark);
  border-top: 8px solid var(--primary-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
